PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/cricbuzz_admin
JWT_SECRET=replace-with-strong-secret
ADMIN_EMAIL=admin@mycricket.com
ADMIN_PASSWORD=Admin@123
ADMIN_NAME=Super Admin
R2_ENDPOINT=https://72b2bc9b88cbd4ffb61195d1a5d60807.r2.cloudflarestorage.com
R2_BUCKET=cricbuzz-media
R2_ACCESS_KEY_ID=2db8bb16590f85fbe0ac59de3a7c1ad9
R2_SECRET_ACCESS_KEY=b396d1672b56fe02c8bdd6236d0d79799752f564905855a9cfaa8ee13f9db4fc
R2_PUBLIC_BASE_URL=https://cdn.your-domain.com
R2_REGION=auto
R2_KEY_PREFIX=news
MAX_IMAGE_UPLOAD_BYTES=5242880
ENFORCE_R2_NEWS_IMAGES=false
